<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/3s.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}3С-Сервис{% endblock %}</title>
</head>

<body>
    <div class="page_wrapper">
        <header>
            <div class="header_div">
                <a href="/" class="header_logo">
                    <img class="header_logo_img" src="{% static 'images/3s.svg' %}" alt="logo">
                </a>

                <ul class="header_navigation">
                    <li><a href="/" class="header_navigation_link">Главная</a></li>
                    <li><a href="#about" class="header_navigation_link">О Нас</a></li>
                    <li><a href="#contacts" class="header_navigation_link">Контакты</a></li>
                </ul>
            </div>
        </header>

        <main>
            {% block content %}
            <p>Скоро тут появится текст...</p>
            {% endblock %}
        </main>

        <footer>
            <p class="footer_text">© 2024 3С-Сервис. Все права защищены.</p>
        </footer>
    </div>
</body>
</html>
